<section class="no-h">
  <owl-carousel-o [options]="mainSlider" class="h-80">
    <ng-template carouselSlide>
      <img src="/images/img1.avif" class="w-full" alt="main-slider-img1" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img2.avif" class="w-full" alt="main-slider-img2" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img3.avif" class="w-full" alt="main-slider-img3" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img4.avif" class="w-full" alt="main-slider-img4" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img5.avif" class="w-full" alt="main-slider-img5" />
    </ng-template>
    <ng-template carouselSlide>
      <img src="/images/img6.avif" class="w-full" alt="main-slider-img6" />
    </ng-template>
  </owl-carousel-o>
</section>