<section id="singup">
  <h1 class="text-5xl pt-10 font-medium text-white text-center mb-10">
    Register Now
  </h1>
  <form [formGroup]="registerForm" (ngSubmit)="submitform()" class="pb-10">
    <div class="form form-design px-4">
      @let passwordControl = registerForm.get('password');

      <app-input
        [control]="registerForm.get('name')"
        [typeInput]="'text'"
        [idInput]="'name'"
        [labelInput]="'Name'"
      ></app-input>
      <app-input
        [control]="registerForm.get('email')"
        [typeInput]="'email'"
        [idInput]="'email'"
        [labelInput]="'Email'"
      ></app-input>

      <div class="relative my-5">
        <input
          [class]="{
            'border-green-700 ': passwordControl?.valid,
            'border-red-900 ':
              passwordControl?.invalid && passwordControl?.touched
          }"
          formControlName="password"
          [type]="flag ? 'password' : 'text'"
          id="password"
          class="main-input peer"
          placeholder=""
        />
        <label
          [class]="{
            'text-green-700 ': passwordControl?.valid,
            'text-red-900 ':
              passwordControl?.invalid && passwordControl?.touched
          }"
          for="password"
          class="main-label"
          >Password :</label
        >
        <span
          (click)="flag = !flag"
          class="absolute top-7 end-4 -translate-1/2 cursor-pointer"
        >
          @if (flag) {
          <i class="fas fa-eye"></i>
          }@else{
          <i class="fas fa-eye-slash"></i>
          }
        </span>
        @if (passwordControl?.errors && passwordControl?.touched ) {
        <div role="alert">
          <div
            class="p-4 rounded-2xl border border-red-300 bg-red-50 shadow-md"
          >
            <p class="font-medium text-red-700 mb-2">
              Please fix the following errors:
            </p>

            <ul class="list-disc list-inside text-sm text-red-600 space-y-1">
              @if (passwordControl?.getError('required')) {
              <li>Password is required.</li>
              } @else if (passwordControl?.getError('pattern')) {
              <li>Password must contain at least one uppercase letter.</li>
              <li>Password must contain at least one lowercase letter.</li>
              <li>Password must contain at least one number.</li>
              <li>Password must contain at least one special character (@).</li>
              <li>Password must be at least 8 characters long.</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>

      <div class="relative my-5">
        <input
          formControlName="rePassword"
          [type]="flag2 ? 'password' : 'text'"
          id="repassword"
          class="main-input peer"
          placeholder=""
        />
        <label for="repassword" class="main-label">rePassword :</label>
        <span
          (click)="flag2 = !flag2"
          class="absolute top-7 end-4 -translate-1/2 cursor-pointer"
        >
          @if (flag2) {
          <i class="fas fa-eye"></i>
          }@else{
          <i class="fas fa-eye-slash"></i>
          }
        </span>
        @if (registerForm.getError('mismatch') &&
        registerForm.get('rePassword')?.touched) {
        <div role="alert">
          <div
            class="p-4 rounded-2xl border border-red-300 bg-red-50 shadow-md"
          >
            <p class="font-medium text-red-700 mb-2">
              Please fix the following errors:
            </p>
            <ul class="list-disc list-inside text-sm text-red-600 space-y-1">
              <li>Passwords do not match.</li>
            </ul>
          </div>
        </div>
        }
      </div>

      <app-input
        [control]="registerForm.get('phone')"
        [typeInput]="'tel'"
        [idInput]="'phone'"
        [labelInput]="'Phone'"
      ></app-input>

      <button
        [disabled]="isloading"
        type="submit"
        class="btn-main w-full text-lg"
      >
        Register @if (isloading) {
        <span><i class="fa-solid fa-spinner fa-spin"></i></span>
        }
      </button>
      @if (msgError) {
      <p class="text-center text-red-900 bg-red-200 mt-4 p-3">{{ msgError }}</p>
      }
    </div>
  </form>
</section>
