<section>
  <div
    class="container flex flex-col justify-center items-center h-screen text-center"
  >
    <div class="img">
      <img src="/images/error.svg" alt="NotFound" />
    </div>
    <h1 class="text-4xl">
      <span class="text-red-800">Oops!</span> Page Not Found
    </h1>
    <p class="py-4 text-xl">
      The page you’re looking for doesn’t exist or may have been moved.
    </p>
    <p class="text-xl">
      Go back to the
      <a routerLink="/home" class="text-blue-800">Home Page</a>
      or use the search to find what you need
    </p>
  </div>
</section>
