<footer class="bg-green-500 py-10">
  <div class="w-11/12 mx-auto">
    <div class="title">
      <h2 class="m-0 text-white text-2xl">Get the FreshCat app</h2>
      <p class="text-white pb-4 text-sm">
        We will send you a link , open it on tour phone to download the app
      </p>
    </div>
    <div class="flex items-center pb-2 gap-3 text-nowrap">
      <input
        type="email"
        class="w-full rounded-lg border-gray-300 focus:outline-none focus:ring-2 focus:ring-green-800"
        placeholder="Enter Your Email...."
      />
      <button class="btn-main">Share App Link</button>
    </div>
    <hr />
    <div class="pay md:flex justify-between items-center my-5 py-3">
      <div class="flex items-center gap-2">
        <h3 class="text-sm m-0">Payment Partners</h3>
        <img src="/images/amazon-pay.png" width="50px" alt="" />
        <img src="/images/American-Express-Color.png" width="50px" alt="" />
        <img src="/images/mastercard.webp" width="50px" alt="" />
        <img src="/images/paypal.png" width="50px" alt="" />
      </div>
      <div class="flex items-center gap-2">
        <h3 class="h6 m-0">Get Deliveries with FreshCart</h3>
        <img src="/images/get-apple-store.png" width="50px" alt="" />
        <img src="/images/get-google-play.png" width="50px" alt="" />
      </div>
    </div>
    <hr />
  </div>
</footer>
