<section id="login" class="no-h py-16">
  <h1 class="text-5xl font-medium text-white text-center mb-10">
    Forgot Password
  </h1>

  <div class="form form-design">
    @if(step===1){
    <form [formGroup]="verifyEmail" (ngSubmit)="formStep1()">
      <app-input
        [control]="verifyEmail.get('email')"
        [idInput]="'email'"
        [typeInput]="'email'"
        [labelInput]="'Email'"
      ></app-input>

      <button class="btn-main w-full text-lg">Verify Email</button>
    </form>
    } @else if(step===2){
    <form [formGroup]="verifyCode" (ngSubmit)="formStep2()">
      <app-input
        [control]="verifyCode.get('resetCode')"
        [idInput]="'resetCode'"
        [typeInput]="'text'"
        [labelInput]="'ResetCode'"
      ></app-input>
      <button class="btn-main w-full text-lg">Reset Code</button>
    </form>
    } @else if(step===3){
    <form [formGroup]="resetPassword" (ngSubmit)="formStep3()">
      <app-input
        [control]="resetPassword.get('email')"
        [idInput]="'email'"
        [typeInput]="'email'"
        [labelInput]="'Email'"
      ></app-input>
      <div class="relative my-5">
        <input
          formControlName="newPassword"
          [type]="flag ? 'password' : 'text'"
          id="resetpassword"
          class="main-input peer"
          placeholder=""
        />
        <label for="resetpassword" class="main-label">New password :</label>
        <span
          (click)="flag = !flag"
          class="absolute top-7 end-4 -translate-1/2 cursor-pointer"
        >
          @if (flag) {
          <i class="fas fa-eye"></i>
          }@else{
          <i class="fas fa-eye-slash"></i>
          }
        </span>

        @let passwordControl = resetPassword.get('password'); @if
        (passwordControl?.errors && passwordControl?.touched ) {
        <div role="alert">
          <div
            class="p-4 rounded-2xl border border-red-300 bg-red-50 shadow-md"
          >
            <p class="font-medium text-red-700 mb-2">
              Please fix the following errors:
            </p>

            <ul class="list-disc list-inside text-sm text-red-600 space-y-1">
              @if (passwordControl?.getError('required')) {
              <li>password is required.</li>
              } @else if (passwordControl?.getError('pattern')) {
              <li>password must contain at least one uppercase letter.</li>
              <li>password must contain at least one lowercase letter.</li>
              <li>password must contain at least one number.</li>
              <li>password must contain at least one special character (@).</li>
              <li>password must be at least 8 characters long.</li>
              }
            </ul>
          </div>
        </div>
        }
      </div>
      <button class="btn-main w-full text-lg">Reset Password</button>
    </form>
    }

    <ol
      class="my-4 flex items-center w-full p-3 space-x-2 text-sm font-medium text-center text-gray-500 bg-green-200 border border-green-500 rounded-lg shadow-xs sm:text-base sm:p-4 sm:space-x-4 rtl:space-x-reverse"
    >
      <li [class.text-green-600]="step === 1" class="flex items-center">
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border rounded-full shrink-0"
        >
          1
        </span>
        Enter <span class="hidden sm:inline-flex sm:ms-2">Email</span>
        <svg
          class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 12 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m7 9 4-4-4-4M1 9l4-4-4-4"
          />
        </svg>
      </li>
      <li [class.text-green-600]="step === 2" class="flex items-center">
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0"
        >
          2
        </span>
        Enter <span class="hidden sm:inline-flex sm:ms-2">Code</span>
        <svg
          class="w-3 h-3 ms-2 sm:ms-4 rtl:rotate-180"
          aria-hidden="true"
          xmlns="http://www.w3.org/2000/svg"
          fill="none"
          viewBox="0 0 12 10"
        >
          <path
            stroke="currentColor"
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="m7 9 4-4-4-4M1 9l4-4-4-4"
          />
        </svg>
      </li>
      <li [class.text-green-600]="step === 3" class="flex items-center">
        <span
          class="flex items-center justify-center w-5 h-5 me-2 text-xs border border-gray-500 rounded-full shrink-0"
        >
          3
        </span>
        Reset <span class="hidden sm:inline-flex sm:ms-2">Password</span>
      </li>
    </ol>
  </div>
</section>
